* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.lead {
    font-size: 1.5rem;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(255, 0, 0);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 1;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    padding-top:100px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    text-align: flex-start;
    width: 100%;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

h1 {
    margin-top: -45px;
} 



/* Section Images */
section#home {
    background: url('https: //images.unsplash.com/photo-1473760737694-97af167fe924?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1463&q=80') no-repeat center center/cover;
    ;
}

section#about {
    background: 
        url(./images/about.jpg) no-repeat center center/cover;
    ;
}

section#service {
    background: 
        url(./images/car\insurance\discount.jpg) no-repeat center center/cover;
    ;
}

section#contact {
    background:
        url(./images/car\insurance\discount.jpg) no-repeat center center/cover;
    ;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover {
    background: transparent;
    color: white;
    border-color: white;
}

.btn-primary {
    background: #ff0000;
    color: white;
}